@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

html.dark {
  --background: #18181b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}
